body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: lightpink;
}

h1 {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-primary {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th {
    background-color: #f8f9fa;
    padding: 8px;
    border: 1px solid #dee2e6;
    text-align: left;
}

td {
    padding: 8px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.crud {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.crud:hover {
    background: #0056b3;
}

.btn-edit {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-delete {
    background: #bd2130;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

