@model WoofChef.Models.TbExpediente

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Expediente</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/Expediente.css" asp-append-version="true" />
</head>
<body>
<h1>Eliminar</h1>

<h3>Está seguro de que desea eliminar este Expediente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Dueño
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDuenno)
        </dd>
        <dt class = "col-sm-2">
            Mascota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            Descripción Mascota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionMascota)
        </dd>
        <dt class = "col-sm-2">
            Enfermedades y Alergias
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnfermedadesYalergias)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
</body>
</html>
