@model WoofChef.Models.TbExpediente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbExpediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreDuenno" class="control-label"></label>
                <input asp-for="NombreDuenno" class="form-control" />
                <span asp-validation-for="NombreDuenno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionMascota" class="control-label"></label>
                <input asp-for="DescripcionMascota" class="form-control" />
                <span asp-validation-for="DescripcionMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermedadesYalergias" class="control-label"></label>
                <input asp-for="EnfermedadesYalergias" class="form-control" />
                <span asp-validation-for="EnfermedadesYalergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

