@model WoofChef.Models.TbExpediente

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Expediente</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/Expediente.css" asp-append-version="true" />
</head>
<body>
<h1>Editar</h1>

<h4>Expediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreDuenno" class="control-label">Nombre del Dueño</label>
                <input asp-for="NombreDuenno" class="form-control" />
                <span asp-validation-for="NombreDuenno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label">Nombre de la Mascota</label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionMascota" class="control-label">Descripción de la Mascota</label>
                <input asp-for="DescripcionMascota" class="form-control" />
                <span asp-validation-for="DescripcionMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermedadesYalergias" class="control-label">Enfermedades y Alergias</label>
                <input asp-for="EnfermedadesYalergias" class="form-control" />
                <span asp-validation-for="EnfermedadesYalergias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
</body>
</html>
